/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.2rem;
}
.page-container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .page-container {
    max-width: 100rem;
  }
}
@media (max-width: 1000px) {
  .page-container {
    max-width: 76.8rem;
  }
}
header {
  background-color: #DAAB1D;
  height: 12.8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: 8rem;
}
@media (max-width: 1000px) {
  header h1 {
    margin-left: 3rem;
  }
}
header nav a {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 3rem;
}
@media (max-width: 1000px) {
  header nav a {
    font-size: 1.8rem;
    padding: 0 2.5rem;
  }
}
header nav a:hover {
  text-decoration: underline;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #488EAC;
  height: 19.5rem;
}
footer h3 {
  font-size: 2rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 2.6rem auto 0.7rem -1.3rem;
}
@media (max-width: 1000px) {
  footer h3 {
    margin: 1.8rem auto 0.7rem 0;
    padding-right: 1rem;
  }
}
footer div a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
}
footer p {
  display: block;
  padding-left: 0.8rem;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.7rem;
}
footer address {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
}
footer address a {
  display: inline-block;
  padding: 0;
}
.top-content .arrow-features-div {
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .top-content .arrow-features-div {
    margin-bottom: -12rem;
  }
}
.top-content .arrow-features-div .arrow-up {
  width: 0;
  height: 0;
  border-left: 63.2rem solid transparent;
  border-right: 63.2rem solid transparent;
  border-bottom: 28rem solid #C0B594;
  position: relative;
  margin: -41.4rem auto;
  z-index: 1;
  opacity: 0;
}
.top-content .arrow-features-div .arrow-up h2 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  left: -29rem;
  top: 15rem;
  width: 58rem;
  font-size: 3rem;
  white-space: pre-line;
  line-height: 3.8rem;
}
@media (max-width: 1439px) {
  .top-content .arrow-features-div .arrow-up {
    border-left: 50rem solid transparent;
    border-right: 50rem solid transparent;
    border-bottom: 22.15rem solid #C0B594;
    margin: -30rem auto;
  }
  .top-content .arrow-features-div .arrow-up h2 {
    font-size: 2rem;
    top: 10rem;
  }
}
@media (max-width: 1000px) {
  .top-content .arrow-features-div .arrow-up {
    border-left: 38.4rem solid transparent;
    border-right: 38.4rem solid transparent;
    border-bottom: 17.01rem solid #C0B594;
    margin: -18rem auto;
  }
  .top-content .arrow-features-div .arrow-up h2 {
    font-size: 2rem;
    top: 10rem;
  }
}
.top-content .arrow-features-div .product-features {
  width: 126.4rem;
  height: 54.7rem;
  background-color: #EDE3C2;
  position: relative;
  top: 41.4rem;
  margin: 0 auto;
  border-top: 0.1rem solid black;
  opacity: 0;
  margin-bottom: 43rem;
}
@media (max-width: 1439px) {
  .top-content .arrow-features-div .product-features {
    width: 100rem;
    top: 30rem;
    margin-bottom: 31.5rem;
    height: 45rem;
  }
}
@media (max-width: 1000px) {
  .top-content .arrow-features-div .product-features {
    width: 76.8rem;
    top: 18rem;
    margin-bottom: 31.5rem;
    height: 45rem;
  }
}
.top-content .arrow-features-div .product-features a {
  text-decoration: none;
}
.top-content .arrow-features-div .product-features .three-features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.top-content .arrow-features-div .product-features .three-features .feature-name {
  height: 8.8rem;
  width: 36.8rem;
  background-color: #DAAB1D;
  border: 0.3rem solid #6E5710;
  border-radius: 0.3rem;
}
.top-content .arrow-features-div .product-features .three-features .feature-name p {
  text-align: center;
  color: #41340C;
  font-size: 3.2rem;
  padding-top: 2.1rem;
}
@media (max-width: 1439px) {
  .top-content .arrow-features-div .product-features .three-features .feature-name p {
    font-size: 2rem;
    padding-top: 3rem;
  }
}
@media (max-width: 1000px) {
  .top-content .arrow-features-div .product-features .three-features .feature-name p {
    padding-top: 3rem;
  }
}
@media (max-width: 1439px) {
  .top-content .arrow-features-div .product-features .three-features .feature-name {
    width: 26rem;
  }
}
@media (max-width: 1000px) {
  .top-content .arrow-features-div .product-features .three-features .feature-name {
    width: 20rem;
  }
}
.top-content .arrow-features-div .product-features .three-features .feature-details {
  background-color: #C0B594;
  width: 36.8rem;
  height: 36.2rem;
  padding-left: 0.5rem;
}
.top-content .arrow-features-div .product-features .three-features .feature-details p {
  color: #41340C;
  font-size: 2.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0.3rem 1.7rem 1.7rem 1.7rem;
  line-height: 3.8rem;
}
@media (max-width: 1439px) {
  .top-content .arrow-features-div .product-features .three-features .feature-details p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 1439px) {
  .top-content .arrow-features-div .product-features .three-features .feature-details p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media (max-width: 1439px) {
  .top-content .arrow-features-div .product-features .three-features .feature-details {
    width: 26rem;
    height: 22.8rem;
  }
}
@media (max-width: 1000px) {
  .top-content .arrow-features-div .product-features .three-features .feature-details {
    width: 20rem;
  }
}
.top-content img {
  z-index: -1;
  width: 100%;
}
@media (max-width: 1439px) {
}
.why-use-section {
  background-color: #C0B594;
  height: 40.5rem;
}
.why-use-section h3 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  padding-left: 7.2rem;
  padding-top: 0.8rem;
  margin-bottom: 2.2rem;
}
@media (max-width: 1439px) {
  .why-use-section h3 {
    font-size: 2.2rem;
    padding-left: 1.2rem;
  }
}
@media (max-width: 1000px) {
  .why-use-section h3 {
    font-size: 2.2rem;
    padding-left: 1.2rem;
  }
}
.why-use-section .why-use-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.why-use-section .why-use-div h4 {
  color: #41340C;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  line-height: 3.3rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 1439px) {
  .why-use-section .why-use-div h4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 1000px) {
  .why-use-section .why-use-div h4 {
    line-height: 2.6rem;
    padding-left: 2rem;
  }
}
.why-use-section .why-use-div p {
  font-family: 'Open Sans', sans-serif;
  line-height: 3.8rem;
  text-align: center;
  font-size: 2.8rem;
  width: 51rem;
}
@media (max-width: 1439px) {
  .why-use-section .why-use-div p {
    font-size: 1.8rem;
  }
}
@media (max-width: 1000px) {
  .why-use-section .why-use-div p {
    width: 35rem;
    padding-left: 3rem;
    padding-right: 1rem;
  }
}
.why-use-section .why-use-div a {
  text-decoration: none;
}
.why-use-section .why-use-div .sign-up-now-button {
  background-color: #DAAB1D;
  width: 24rem;
  height: 6.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  color: #336277;
  border: none;
  border-radius: 0.6rem;
  margin-top: 4.7rem;
  margin-left: 19rem;
  border: 3px solid transparent;
  text-align: center;
}
.why-use-section .why-use-div .sign-up-now-button p {
  margin-left: -13.5rem;
  margin-top: 1.2rem;
}
@media (max-width: 1000px) {
  .why-use-section .why-use-div .sign-up-now-button p {
    margin-left: -11.5rem;
  }
}
@media (max-width: 1000px) {
  .why-use-section .why-use-div .sign-up-now-button {
    width: 18rem;
    transform: translate(-8rem, 0);
  }
}
.meet-users-section {
  padding-bottom: 4.2rem;
}
.meet-users-section h2 {
  padding-left: 7.2rem;
  padding-top: 1.8rem;
  color: #1E3A46;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 1439px) {
  .meet-users-section h2 {
    padding-left: 2rem;
  }
}
.meet-users-section .meet-users-div {
  margin-top: 2.35rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.meet-users-section .meet-users-div img {
  margin-bottom: 1.75rem;
}
.meet-users-section .meet-users-div p {
  color: #1E3A46;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  width: 25rem;
  line-height: 2.5rem;
}
.meet-users-section .meet-users-div .signature {
  margin-top: 0.3rem;
  text-align: right;
  font-style: italic;
}
.how-it-works-section {
  background-color: #EDE3C2;
  height: 40.5rem;
}
.how-it-works-section a {
  text-decoration: none;
}
.how-it-works-section h2 {
  padding-left: 1rem;
  padding-top: 1.8rem;
  margin-bottom: 2rem;
  color: #1E3A46;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 1439px) {
}
.how-it-works-section .how-it-works-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.how-it-works-section .how-it-works-div p {
  color: #41340C;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  width: 40rem;
  line-height: 2.5rem;
  padding-left: 2rem;
}
@media (max-width: 1439px) {
  .how-it-works-section .how-it-works-div p {
    width: 30rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
.join-today-button {
  display: block;
  margin: 1rem auto;
  height: 4.8rem;
  width: 24rem;
  border-radius: 1rem;
  border: 3px solid transparent;
  background-color: #488EAC;
  color: #EDE3C2;
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
}
.join-today-button p {
  text-align: center;
  padding-top: 1rem;
}
@media (max-width: 1439px) {
  .join-today-button {
    margin: 1rem auto;
  }
}
.join-today-button#bottom-join-today {
  display: block;
  margin: 0 auto;
  transform: translate(-35rem, 26.5rem);
  position: absolute;
}
@media (max-width: 1439px) {
  .join-today-button#bottom-join-today {
    transform: translate(-30rem, 26.5rem);
  }
}
.join-today-button#bottom-join-today p {
  text-align: center;
  padding-top: 1rem;
  margin-left: -7.5rem;
  color: #EDE3C2;
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 1439px) {
  .join-today-button#bottom-join-today p {
    margin-left: -3rem;
  }
}
.footer-top-spacer {
  background: white;
  height: 5.7rem;
}
