/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.2rem;
}
.page-container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
header {
  background-color: #DAAB1D;
  height: 12.8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: 8rem;
}
header nav a {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 3rem;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #488EAC;
  height: 19.5rem;
}
footer h3 {
  font-size: 2rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 2.6rem auto 0.7rem -1.3rem;
}
footer div a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
}
footer p {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 4.8rem;
}
footer address {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  color: #EDE3C2;
  font-family: 'Open Sans', sans-serif;
}
.top-content img {
  z-index: -1;
}
.top-content .arrow-up {
  width: 0;
  height: 0;
  border-left: 63.2rem solid transparent;
  border-right: 63.2rem solid transparent;
  border-bottom: 28rem solid #C0B594;
  position: absolute;
  margin: -41.4rem 8.8rem;
  z-index: 1;
}
.top-content .arrow-up h2 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  left: -29rem;
  top: 15rem;
  width: 58rem;
  font-size: 3rem;
  white-space: pre-line;
}
.top-content .product-features {
  width: 126.4rem;
  height: 54.7rem;
  background-color: #EDE3C2;
  position: relative;
  left: 8.8rem;
  top: -13.4rem;
  border-top: 0.1rem solid black;
}
.top-content .product-features .three-features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.top-content .product-features .three-features .feature-name {
  height: 8.8rem;
  width: 36.8rem;
  background-color: #DAAB1D;
  border: 0.3rem solid #6E5710;
  border-radius: 0.3rem;
}
.top-content .product-features .three-features .feature-name p {
  text-align: center;
  color: #41340C;
  font-size: 3.2rem;
  padding-top: 2.1rem;
}
.top-content .product-features .three-features .feature-details {
  background-color: #C0B594;
  width: 36.8rem;
  height: 36.2rem;
  padding-left: 0.5rem;
}
.top-content .product-features .three-features .feature-details p {
  color: #41340C;
  font-size: 2.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0.3rem 1.7rem 1.7rem 1.7rem;
  line-height: 3.8rem;
}
.why-use-section {
  background-color: #C0B594;
  height: 40.5rem;
}
.why-use-section h3 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  margin-left: 7.2rem;
  padding-top: 0.8rem;
  margin-bottom: 2.2rem;
}
.why-use-section .why-use-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.why-use-section .why-use-div h4 {
  color: #41340C;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  line-height: 3.3rem;
  margin-bottom: 2.4rem;
}
.why-use-section .why-use-div p {
  font-family: 'Open Sans', sans-serif;
  line-height: 3.8rem;
  text-align: center;
  font-size: 2.8rem;
  width: 51rem;
}
.why-use-section .why-use-div .sign-up-now-button {
  background-color: #DAAB1D;
  width: 24rem;
  height: 6.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  color: #336277;
  border: none;
  border-radius: 0.6rem;
  margin-top: 4.7rem;
  margin-left: 19rem;
}
.meet-users-section h2 {
  padding-left: 7.2rem;
  padding-top: 1.8rem;
  color: #1E3A46;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.meet-users-section .meet-users-div {
  margin-top: 2.35rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.meet-users-section .meet-users-div img {
  margin-bottom: 1.75rem;
}
.meet-users-section .meet-users-div p {
  color: #1E3A46;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  width: 24rem;
  line-height: 2.5rem;
}
.meet-users-section .meet-users-div .signature {
  margin-top: 0.7rem;
  text-align: right;
  font-style: italic;
}
.how-it-works-section {
  background-color: #EDE3C2;
  height: 40.5rem;
}
.how-it-works-section h2 {
  padding-left: 7.2rem;
  padding-top: 1.8rem;
  color: #1E3A46;
  font-size: 2.8rem;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.how-it-works-section .how-it-works-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.how-it-works-section .how-it-works-div p {
  color: #41340C;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  width: 40rem;
  line-height: 2.5rem;
}
.how-it-works-section .how-it-works-div p:last-child {
  margin-bottom: 2rem;
}
.join-today-button {
  margin: 1rem 51.2rem;
  height: 4.8rem;
  width: 24rem;
  border-radius: 1rem;
  border: none;
  background-color: #488EAC;
  color: #EDE3C2;
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
}
.join-today-button#bottom-join-today {
  margin: 0;
}
