/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.2rem;
}
.page-container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}
header {
  background-color: #DAAB1D;
  height: 12.8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: 8rem;
}
header nav a {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 3rem;
}
.top-content img {
  z-index: -1;
}
.top-content .arrow-up {
  width: 0;
  height: 0;
  border-left: 63.2rem solid transparent;
  border-right: 63.2rem solid transparent;
  border-bottom: 28rem solid #C0B594;
  position: absolute;
  margin: -41.4rem 8.8rem;
  z-index: 1;
}
.top-content .arrow-up h2 {
  color: #1E3A46;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  position: relative;
  left: -29rem;
  top: 15rem;
  width: 58rem;
  font-size: 3rem;
  white-space: pre-line;
}
.top-content .product-features {
  width: 126.4rem;
  height: 54.7rem;
  background-color: #EDE3C2;
  position: relative;
  left: 8.8rem;
  top: -13.4rem;
  border-top: 0.1rem solid black;
}
.top-content .product-features #join-today-button {
  margin: 1rem 51.2rem;
  height: 4.8rem;
  width: 24rem;
  border-radius: 1rem;
  border: none;
  background-color: #488EAC;
  color: #EDE3C2;
  font-size: 2.4rem;
  font-family: 'Open Sans', sans-serif;
}
