
footer
{
    .fbMixin(row nowrap, space-around, flex-start);
    background-color: #488EAC;
    height: 19.5rem;
    div
    {

    }
    h3
    {
        font-size: 2rem;
        color: @lighterTan;
        
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 2.6rem auto .7rem -1.3rem;
    }
    div a
    {
        display: block;
        text-decoration: none;
        font-size: 2rem;
        padding: 0.8rem;
        color: @lighterTan;
        font-family: 'Open Sans', sans-serif;
    }
    p
    {
        display: block;
        padding: 0.8rem;
        font-size: 2rem;
        color: @lighterTan;
        font-family: 'Open Sans', sans-serif;
        line-height: 2.7rem;
    }
    address
    {
        display: block;
        text-decoration: none;
        font-size: 2rem;
        padding: 0.8rem;
        color: @lighterTan;
        font-family: 'Open Sans', sans-serif;
    }
}