
footer
{
    .fbMixin(row nowrap, space-around, flex-start);
    background-color: #488EAC;
    height: 19.5rem;
    @media(max-width: 767px)
    {
        height: auto;
        flex-flow: column;
        align-items: center;
    }
    h3
    {
        font-size: 2rem;
        color: @lighterTan;
        
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin: 2.6rem auto .7rem -1.3rem;
        @media (max-width: 1000px)
        {
            margin: 1.8rem auto .7rem 0;
            padding-right: 1rem;
        }
        @media (max-width: 767px)
        {
            // margin: auto;
        }
    }
    div a
    {
        display: block;
        text-decoration: none;
        font-size: 2rem;
        padding: 1rem;
        color: @lighterTan;
        font-family: 'Open Sans', sans-serif;
        @media (max-width: 767px)
        {
            font-size: 1.6rem;
        }
    }
    p
    {
        display: block;
        padding-left: 0.8rem;
        padding-top: 0.5rem;
        font-size: 2rem;
        color: @lighterTan;
        font-family: 'Open Sans', sans-serif;
        line-height: 2.7rem;
    }
    address
    {
        display: block;
        text-decoration: none;
        font-size: 2rem;
        padding: 1rem;
        color: @lighterTan;
        font-family: 'Open Sans', sans-serif;
        a
        {
            display: inline-block;
            padding: 0;
        }
    }
}