
.top-content
{
    
    img
    {
        z-index: -1;
    }
    .arrow-up
    {
        width: 0;
        height: 0;
        border-left: 63.2rem solid transparent;
        border-right: 63.2rem solid transparent;
        border-bottom: 28rem solid @darkerTan;
        position: absolute;
        margin: -41.4rem 8.8rem;
        z-index: 1;
        opacity: 0;
        h2
        {
            color: @blueTextColor;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            text-align: center;

            position: relative;
            left: -29rem;
            top: 15rem;
            width: 58rem;
            font-size: 3rem;
            white-space: pre-line;
            line-height: 3.8rem;
        }
    }
    .product-features
    {
        width: 126.4rem;
        height: 54.7rem;
        background-color: @lighterTan;
        position: relative;
        left: 8.8rem;
        top: -13.4rem;
        border-top: 0.1rem solid black;
        opacity: 0;
        
        .three-features
        {
            .fbMixin(row nowrap, space-around, center);

            .feature-name
            {
                height: 8.8rem;
                width: 36.8rem;
                background-color: @goldYellow;
                p
                {
                    text-align: center;
                    color: @brownTextColor;
                    font-size: 3.2rem;
                    padding-top: 2.1rem;
                }
                border: 0.3rem solid #6E5710;
                border-radius: 0.3rem;
            }

            .feature-details
            {
                background-color: @darkerTan;
                width: 36.8rem;
                height: 36.2rem;
                padding-left: 0.5rem;
                p
                {
                    color: @brownTextColor;
                    font-size: 2.8rem;
                    font-family: 'Open Sans', sans-serif;
                    padding: 0.3rem 1.7rem 1.7rem 1.7rem;
                    line-height: 3.8rem;
                }
            }
        }
    }
}

.why-use-section
{

    background-color: @darkerTan;
    height: 40.5rem;
    h3
    {
        color: @blueTextColor;
        font-family: 'Open Sans', sans-serif;
        font-size: 2.8rem;
        font-weight: bold;
        margin-left: 7.2rem;
        padding-top: .8rem;
        margin-bottom: 2.2rem;
    }
    .why-use-div
    {
        .fbMixin(row nowrap, space-around);
        h4
        {
            color: @brownTextColor;
            font-size: 2.4rem;
            font-weight: bold;
            font-family: 'Open Sans', sans-serif;
            // width: 36.8rem;
            line-height: 3.3rem;
            margin-bottom: 2.4rem;
        }
        p
        {
            font-family: 'Open Sans', sans-serif;
            line-height: 3.8rem;
            text-align: center;
            font-size: 2.8rem;
            width: 51rem;
        }
        .sign-up-now-button
        {
            background-color: @goldYellow;
            width: 24rem;
            height: 6.6rem;
            font-size: 3.2rem;
            font-weight: 600;
            color: #336277;
            border: none;
            border-radius: 0.6rem;
            margin-top: 4.7rem;
            margin-left: 19rem;
        }
    }
}

.meet-users-section
{
    h2
    {
        padding-left: 7.2rem;
        padding-top: 1.8rem;
        color: @blueTextColor;
        font-size: 2.8rem;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .meet-users-div
    {
        margin-top: 2.35rem;
        .fbMixin(row nowrap, space-around, flex-start);
        img
        {
            margin-bottom: 1.75rem;
        }
        p
        {
            color: @blueTextColor;
            font-size: 1.8rem;
            font-family: 'Open Sans', sans-serif;
            width: 24rem;
            line-height: 2.5rem;
        }
        .signature
        {
            margin-top: 0.7rem;
            text-align: right;
            font-style: italic;
        }

    }
}

.how-it-works-section
{
    background-color: @lighterTan;
    height: 40.5rem;
    h2
    {
        padding-left: 7.2rem;
        padding-top: 1.8rem;
        color: @blueTextColor;
        font-size: 2.8rem;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
    }
    .how-it-works-div
    {
        .fbMixin(row nowrap, space-around, flex-start);

        p
        {
            color: @brownTextColor;
            font-size: 1.8rem;
            font-family: 'Open Sans', sans-serif;
            width: 40rem;
            line-height: 2.5rem;
            &:last-child
            {
                margin-bottom: 2rem;
            }
        }
    }
}

.join-today-button
{
    margin: 1rem 51.2rem;
    height: 4.8rem;
    width: 24.0rem;
    border-radius: 1rem;
    border: none;
    background-color: #488EAC;
    color: @lighterTan;
    font-size: 2.4rem;
    font-family: 'Open Sans', sans-serif;
    &#bottom-join-today
    {
        margin: 0;
    }
}