header
{
    background-color: #DAAB1D;
    height: 12.8rem;
    .fbMixin;
    h1
    {
        color: @blueTextColor;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin-left: 8rem;
        @media (max-width: 1000px)
        {
            margin-left: 3rem;
            // font-size: 3rem;
        }
        @media (max-width: 767px)
        {
            font-size: 2.5rem;
        }
        @media(max-width:350px)
        {
            font-size: 1.8rem;
        }
    }
    nav
    {
        @media(max-width:767px)
        {
            display: none;
        }
        a
        {
            color: @blueTextColor;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
            font-size: 2rem;
            font-weight: bold;
            padding: 0 3.0rem;
            @media (max-width: 1000px)
            {
                font-size: 1.8rem;
                padding: 0 2.5rem;
            }
            &:hover
            {
                text-decoration: underline;
            }
            
        }
    }

    .burger-icon
    {
        display:none;
        width: 30px;
        height: 27px;
        
        @media(max-width: 767px)
        {
            display: block;
        }
        margin-right: 2rem;
        .burger-line
        {
            width: 30px;
            background-color: @blueTextColor;
            height: 5px;
            margin: 3px 0;
        }
    }
    .mobile-signin
    {
        display: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        width: 7.5rem;
        text-align: center;
        text-decoration: none;
        height: 3rem;
        background-color: @bgBlue;
        line-height: 3rem;
        border-radius: 14px;
        @media(max-width: 767px)
        {
            display: block;
        }
    }
    .mobile-menu
    {
        
        position: fixed;
        top:5rem;
        right:0;
        z-index: 3;
        width: 20rem;
        height: auto;
        background-color: transparent;
        display: none;
        // img
        // {
        //     height: 3.8rem;
        // }
        .mobile-menu-close
        {
            font-family: 'Open Sans', sans-serif;
            // font-stretch: ultra-expanded;
            color: @blueTextColor;
            
            font-size: 2.6rem;
            background-color: @bgBlueTransp;
            width: 20rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            border-bottom: 1px solid black;
        }
        a
        {
            font-family: 'Open Sans', sans-serif;
            color: @blueTextColor;
            text-decoration: none;
            font-size: 2.6rem;
            background-color: @bgBlueTransp;
            width: 20rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            border-bottom: 1px solid black;
            &:last-child
            {
                border: none;
            }
        }
    }
    .mobile-menu-show
    {
        .fbMixin(column nowrap, space-around, center);
    }
}