header
{
    background-color: #DAAB1D;
    height: 12.8rem;
    .fbMixin;
    h1
    {
        color: #1E3A46;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin-left: 8rem;
    }
    nav
    {
        a
        {
            color: #1E3A46;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
            font-size: 2rem;
            font-weight: bold;
            padding: 0 3.0rem;
            &:hover
            {
                text-decoration: underline;
            }
            
        }
    }
}