@pgContWidth: 1440px;
@pgContWidth1k: 1000px;
@pgContWidth768: 769px;

@lighterTan: #EDE3C2;

@darkerTan: #C0B594;
@drkTanTransp: rgba(192, 181, 148, 0.801);
@goldYellow: #DAAB1D;

@brownTextColor: #41340C;
@blueTextColor: #1E3A46;

@bgBlue: #488EAC;
@bgBlueTransp: rgba(72, 142, 172, 0.836);